
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    padding: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 20px;
}

.todolists {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.spin {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}